@charset "UTF-8";
/*header*/
.headerv {
	width: 100%;
	height: 95px;
	background: #FFF;
	overflow: hidden;
}

.headerv .head {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	height: 95px;
}

.headerv .head .logo {
	width: 400px;
	height: 80px;
	overflow: hidden;
	display: block;
	margin-top: 0px;
	float: left;
}

.headerv .head .logo h1 {
	width: 181px;
	height: 54px;
	display: block;
}

.headerv .head .logo a {
	width: 181px;
	height: 54px;
	display: block;
	padding-left: 181px;
	overflow: hidden;
}

.headerv .head .biaoyu {
	width: auto;
	overflow: hidden;
	float: left;
	border-left: 1px #eeeeee solid;
	margin-left: 27px;
	padding: 0 0 0 27px;
	margin-top: 18px;
}

.headerv .head .biaoyu b {
	font-size: 18px;
	display: block;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: normal;
	padding-top: 5px;
}

.headerv .head .biaoyu p {
	font-size: 13px;
}

.headerv .head .head_r {
	width: 230px;
	overflow: hidden;
	float: right;
	margin-top: 8px;
}

.headerv .head .head_r .lan {
	width: 100%;
	overflow: hidden;
	line-height: normal;
	text-align: right;
	font-size: 16px;
}

.headerv .head .head_r .lan .zh {
	color: #c6000b;
}

.headerv .head .head_r .sea {
	width: 200px;
	height: 31px;
	margin: 10px 0 0 0;
	background: url(../images/ser_txt.png) no-repeat left center;
	padding: 0 15px;
}

.headerv .head .head_r .sea .sousuo1 {
	width: 176px;
	height: 30px;
	line-height: 30px;
	float: left;
	border: 0;
	background: none;
	padding: 0 10px 0 0;
}

.headerv .head .head_r .sea .sousuo {
	background: url(../images/ser_btn.png) no-repeat center;
	width: 14px;
	height: 30px;
	float: right;
	border: 0;
}
/*nav*/
.nav {
	width: 100%;
	height: 47px;
	background: #c6000b;
}

.nav .menua {
	width: 1200px;
	height: 47px;
	margin: 0 auto;
}

.nav .menua li {
	position: relative;
	float: left;
	width: auto;
	text-align: center;
	background: url(../images/nl.jpg) no-repeat right center;
}

.nav .menua li:last-child {
	background: none;
}

.nav .menua li a.xialaguang {
	display: inline-block;
	width: auto;
	height: 47px;
	line-height: 47px;
	color: #FFF;
	padding: 0 42px;
	font-size: 16px;
}

.nav .menua li a.navhover, .nav .menua li a.xialaguang:hover {
	cursor: pointer;
	color: #FFF;
	background: #9e9e9f;
}

.nav .menua ul.children {
	display: none;
	position: absolute;
	top: 47px;
	left: 0;
	width: 100%;
	line-height: normal;
	z-index: 9999;
	text-align: center;
}

.nav .menua ul.children li {
	width: 100%;
	padding: 0px;
	display: inline-block;
	margin: 0;
	border-top: 1px #c1c1c4 solid;
	background: none;
}

.nav .menua ul.children li a {
	width: 100%;
	overflow: hidden;
	display: block;
	padding: 10px 0;
	background: #9e9e9f;
	border-top: 1px #6c6c70 solid;
	color: #FFF;
}

.nav .menua ul.children li a:hover {
	background: #c6000b;
}